.floatingSVG__container {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.floatingSVG {
    position: absolute;
    animation: float 5s 0s ease-in-out infinite;
    scale: 0.7;
}

@keyframes float {

    0%,
    100% {
        transform: translate(0.2vw, -0.4vh);
    }

    50% {
        transform: translate(-0.8vw, 0.6vh);
    }
}

.svg1 {
    top: 20%;
    left: 5%;
}

.svg2 {
    top: 75%;
    left: 3%;
    animation-delay: 1.5s;
}

.svg3 {
    top: 25%;
    left: 50%;
}

.svg4 {
    top: 70%;
    left: 52%;
    animation-delay: 1s;
}

.svg5 {
    top: 15%;
    left: 35%;
    animation-delay: 2s;
}

.svg6 {
    top: 70%;
    left: 30%;
    animation-delay: 0.5s;
}

@media (max-width: 768px) {
    .floatingSVG {
        scale: 0.7;
    }

    .svg1 {
        top: 20%;
        left: 2%;
    }

    .svg2 {
        top: 30%;
        left: 10%;
        animation-delay: 1s;
    }

    .svg3 {
        top: 38%;
        left: 65%;
    }

    .svg4 {
        top: 30%;
        left: 78%;
        animation-delay: 0.5s;
    }

    .svg5 {
        top: 37%;
        left: 30%;
        animation-delay: 1.5s;
    }

    .svg6 {
        top: 21%;
        left: 85%;
    }
}

@media (max-width: 480px) {
    .floatingSVG {
        scale: 0.6;
        translate: -10px 30px;
    }

}
