.header {
  min-height: calc(100vh - 100px);
  min-height: calc(100svh - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.introductionContainer {
  height: 50%;
  width: 50%;
}

.heroHeading {
  font-size: var(--font-xl);
  letter-spacing: 3px;
}

.heroSubtext {
  color: var(--subtext-color);
  max-width: 75ch;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.imageContainer {
  width: 30%;
}

.imageContainer > img {
  border-radius: 10px;
  box-shadow: 8px 12px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .introductionContainer {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .heroHeading {
    font-size: var(--font-l); 
  }

  .heroSubtext {
    max-width: 100%;
  }

  .imageContainer {
    width: 70%; 
    margin: 0 auto; 
  }
}

@media (max-width: 480px) {
    .header{
        min-height: 80vh;
    }
    .imageContainer {
        width: 90%; 
    }
}
